/*tecnica para navegar entre exibicoes sem precisar recarregar a pagina*/

#registerList{display: none;}
#registerRegistry{
    display: none;
    flex-direction: column; /*um em baixo do outro, não ao lado*/
    gap: 30px;
}

body[page=list] #registerList{
    display: block;
}
body[page=registry] #registerRegistry{
    display: flex;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th, table td{
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px #ccc;
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightblue;
    color: #07a;
    margin: 3px;
    padding: 10px 15px;
}

button.gray{
    background-color: #ccc;
    color: #666;
}

button:hover{
    opacity: 0.8;
}

input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 5px 10px;
}

.label>div{
    display: flex;
}

/*o espaço para preencher os dados agora ocupa toda a tela*/
.label>div>input{
    flex: 1;
}

